.locationLink {
  color: RGB(210, 193, 177);
  list-style: none;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  color: var(--lightText);
  text-decoration: none;
  width: 100%;
  display: block;
  font-family: "ubuntu";
}
.selectedLocation {
  font-family: "ubuntu";
  font-weight: 600;
  font-size: 2.4rem;
  padding: 0;
  & a {
    font-size: 2.4rem;
    padding: 0;
    color: var(--secondary);
    @media (min-width: 768px) {
      font-size: 3.5rem;
    }
  }
  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
}

.prefixText {
  font-size: 2.7rem;
  @media (min-width: 768px) {
    font-size: 3.5rem;
    max-width: 550px;
  }
}
