.locationLink {
  list-style: none;
  padding: 8px;
  font-size: 2rem;
  color: var(--lightText);
  text-decoration: none;
  width: 100%;
  display: block;
  font-family: "ubuntu";
}
.selectedLocation {
  font-weight: 600;
  line-height: 64.2px;
  & a {
    font-size: 2.4rem;
    padding: 0;
    color: var(--secondary);
    @media (min-width: 768px) {
      font-size: 3.5rem;
    }
  }
  @media (min-width: 768px) {
    line-height: 89.5px;
  }
}

.prefixText {
  font-size: 2.7rem;
  display: inline;
  line-height: 64.2px;
  @media (min-width: 768px) {
    font-size: 3.5rem;
    line-height: 89.5px;
  }
}
